/* Home Page CSS  */
.container {
  padding: 20px;
}

.card {
  background: #fff;
  box-shadow: 5px;
  border-radius: 20px;

}

.cardheader {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand_box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
}

.text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading_primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading_primary_main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.thapatext {
  color: red;
}

.heading_primary_sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn_white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}